*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    
    
} */

/* .navbar{
    
    
} */
 .dropdown-menu{
    background-color: orangered;
 }
 .dropdown-menu:hover{
    background-color: antiquewhite;
    transition: 3s ease-in-out;
 }
 #btn{
    border: 1px solid orangered;
    color:rgba(0, 0, 0, 0.692);
}
 #btn:hover{
    background-color: orangered;
    color: antiquewhite;
    transition: 3s ease-in-out;
   
 }
 #search{
    border:1px solid orangered;
    color: rgba(0, 0, 0, 0.692);
 }
 
 #search:hover{
background-color: orangered;
color: antiquewhite;
transition: 3s ease-in-out;
 }
 #input:hover{
    background-color: orangered;
    color: antiquewhite;
    transition: 3s ease-in-out;
    box-shadow: 2px 2px antiquewhite;
    }
    #input{
        border: 1px solid orangered;
    }

#btn-login{
    border: 3px;
}
#btn-login:hover{
    background-color: orangered;
    color: white;
}
.login-container{
    background-color: rgba(255, 255, 0, 0.425);
    padding: 3px;
}

.img-container{
    background-color:rgba(255, 255, 0, 0.425);
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 50px;
    
    
}

.login-image{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    }
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
}


.section1{
    text-align: center;
    background-color: rgba(255, 255, 0, 0.425);
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 50px;
    border: 2px outset orangered;
    margin-top: 60px;
    font-family: Verdana, san-serif;
 

}
.section1 h1{
    color:hsl(240, 78%, 34%);
    font-size: 60px;
    text-align: left;
    padding-left: 80px;
    font-family: Georgia, serif;
}
.section1 h2{
    margin-top: 20px;
    font-weight: 200;
    font-size: 48px;
    color:orangered;
    text-align: center;
    padding-left: 200px;
}

    .section2{
    text-align: center;
    background-color:rgba(50, 50, 241, 0.747);
    padding-top: 100px;
padding-bottom: 100px;
border-radius: 50px;
border: 2px inset yellow;
}
.section2 h1{
    color:yellow;
    font-size: 200px;
}
.section2 p{
    color:yellow;
    font-size: 50px;
    font-weight: 300;
}

.button1{
    background-color: orangered;
    color: antiquewhite;
    /* border: 10px inset antiquewhite; */
    border-radius: 30px ;
    font-size: 20px;
    height: 50px;
    width: 270px;
    margin-top: 27px;
    box-shadow: 5px 10px antiquewhite;
    border: orangered;
    margin-bottom: 10px;
}
.button2{
    background-color: yellow;
    color: blue;
    border: 10px solid orangered;
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 270px;
    margin: 25px;
}
.button3{
background-color:antiquewhite;
    color:orangered;
    /* border: 10px outset orangered; */
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 270px;
    box-shadow: 5px 10px inset orangered;
    border: orangered;
}
#image{
float: right;
width: auto;
animation: change 10s infinite ease-in-out;
}
/* }
@keyframes image{
    0%
    {
        img
    }
} */
 
.section3{
    text-align: center;
    background-color:antiquewhite;
    padding-top: 100px;
padding-bottom: 100px;
border-radius: 50px;
border: 2px solid blue;
/* display: flex; */
}
.section3 h1{
    color:blue;
    font-size: 200px;
}
.section3 p{
    color:blue;
    font-size: 50px;
    font-weight: 300;
}
/* .form
{
    margin-top: 30px;
} */

/* .but-form{
    margin: 25px;
    text-align: center;
    
} */

.but1{
    background-color: orangered;
    color: blue;
    border: 10px solid blue;
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 270px;
    margin-top: 27px;
    
}
.but2{
    background-color: antiquewhite;
    color: orangered;
    border: 10px inset antiquewhite;
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 270px;
    margin: 25px;
}
.but3{
background-color:blue;
    color:antiquewhite;
    border: orangered;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    width: 270px;
    box-shadow: 5px 10px orangered;
}
.section4{
    text-align: center;
    background-color:rgba(255, 68, 0, 0.753);
    padding-top: 100px;
padding-bottom: 100px;
border-radius: 50px;
border: 2px solid antiquewhite;
}
.section4 h1{
    color:antiquewhite;
    font-size: 200px;
}
.section4 p{
    color:antiquewhite;
    font-size: 50px;
    font-weight: 300;
}
.ton1{
    background-color: orangered;
    color: yellow;
    border:  yellow;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    width: 270px;
    margin-top: 27px;
    box-shadow: 5px 10px inset yellow;
    
}
.ton2{
    background-color: antiquewhite;
    color: orangered;
    border: 10px solid orangered;
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 270px;
    margin: 25px;
}
.ton3{
background-color:yellow;
    color:orangered;
    border: 10px inset antiquewhite;
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 270px;
}
.section5{
    background-color: antiquewhite;
    padding: 100px ;
    text-align: center;
    font-family: sans-serif;
    border-radius: 50px;
border: 2px inset blue;
padding: 50px 200px;
}
.section5 h2{
    font-size: 35px;
    font-weight: 600;
}
.section5 p{font-weight: 400;
    font-size: 18px;

}

.a5{
background-color:  rgba(255, 255, 0, 0.425);
margin: 50px;
border:  blue;
border-radius: 20px;
text-align: left;
padding: 50px 200px;
box-shadow: 5px 10px blue;
}
.b5{
    background-color: rgba(36, 36, 243, 0.575);
    margin: 50px;
    border: yellow;
    border-radius: 20px;
    text-align: left;
    padding: 50px 200px;
    box-shadow: 5px 10px  yellow;
    }
    .c5{
        background-color: antiquewhite;
        margin: 50px;
        border:  orangered;
        border-radius: 20px;
        text-align: left;
        padding: 50px 200px;
        box-shadow: 5px 10px orangered;
        }
        .c6{
            background-color: rgba(255, 68, 0, 0.973);
            margin: 50px;
            border:  blue;
            border-radius: 20px;
            text-align: left;
            padding: 50px 200px;
            box-shadow: 5px 10px  blue;
            }
           p big{
           color: blue; 
           font-weight: 700;
           }
        
    
