*body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
   height: 60px; 
  background-color: orangered; 
  color: black;
  text-align: center;
  z-index: 1000; 
 }  
 .logo1{
  width: auto;
  height: 40px;
  margin: 10px 15px;
  border: 10px ;
  border: 20px;
  }
 .logo2{
   width: auto;
  height: 30px;
  margin: 10px 0px;
 }
 nav{
  display: flex; 
  align-items: center;
  height: 30px;
  padding: 20px 0;
  }   
  .but2{
   width: 100px;
   height: 30px;
   margin: 10px 10px;
   background-color: rgba(255, 166, 0, 0);
   font-size: 15px;
   border: 2px rgba(255, 68, 0, 0.788);
 } 
 .div1{
  margin-left: 50%;
 }
 a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.986);
 }
 a:hover{
  color: antiquewhite;
 }
 #btn-login{
  color: black;
 }

/* Sidebar */
#sidebar {
  width: 250px;
  background-color: orangered;
  padding: 10px;
  height: calc(100vh - 60px); 
  overflow-y: auto; 
  position: fixed;
  top: 60px; 
  left: 0;
  box-shadow: 2px 0px 5px orangered;
}

/* Sidebar content styles */
#sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar a {
  color: antiquewhite;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#sidebar a:hover {
  background-color: rgba(255, 68, 0, 0.582);
}

/* Main content */
#main-content {
  margin-left: 260px; 
  padding: 20px;
  height: calc(100vh - 60px); 
  overflow-y: auto; 
  background-color: rgba(250, 235, 215, 0.692);
  flex: 1;
  top: 60px;
  position:fixed;
}

/* Main content styles */
#main-content h3 {
  margin: 10px 0;
}

#main-content p {
  margin-bottom: 10px;
}

#main-content pre {
  margin-bottom: 10px;
  font-size: 15px;
}

/* Module content */
#module {
  margin-bottom: 20px;
}

/* Workspace for live preview and editor */
#workspace {
  margin-top: 10px;
}

#editor {
  width: 100%;
  height: 300px;
  background-color: #2e2e2e;
}

/* Buttons */
button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: orangered;
  color: antiquewhite;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 68, 0, 0.493);
}

/* Module controls */
#module-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Live preview area */
#preview-area {
  margin-top: 20px;
  padding-top: 20px;
}

#preview-frame {
  width: 100%;
  height: 300px;
  border: 1px solid orangered;
}
