*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    display: flex;
 flex-direction: column;
 height: 100vh;
 overflow: hidden;
  }
  header{
    background-color: rgba(255, 68, 0, 0.849);
   }
   
   .logo1{
    width: auto;
    height: 40px;
    margin: 10px 15px;
    border: 10px ;
    border: 20px;
    
    
   }
   .logo2{
    
    width: auto;
    height: 30px;
    margin: 10px 0px;
   }
   nav{
    display: flex; 
    align-items: center;
    height: 50px;
    padding: 20px 0;
    }   
    .but2{
     width: 100px;
     height: 30px;
     margin: 10px 10px;
     background-color: rgba(255, 166, 0, 0);
     font-size: 15px;
     border: 2px rgba(255, 68, 0, 0.788);
   } 
   .div1{
    margin-left: 50%;
   }
   a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.986);
   }
   a:hover{
    color: antiquewhite;
   }

  
  /* Sidebar */
  #sidebar {
    width: 25%;
    background-color: orangered;
    color: antiquewhite;
  }
  
  #sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  
  #sidebar a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    padding: 5px ;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  #sidebar a:hover {
    background-color: orangered;
  }
  #container {
    display: flex;
    min-height: 100vh;
    
  }
  /* Main Content */
  #main-content {
    flex: 1;
    padding: 20px;
    background-color: antiquewhite;
  }

/* Container to hold sidebar and main content */
 #container {
 display: flex;
 flex: 1; 
 overflow: hidden; 
}

#sidebar a {
 color: antiquewhite;
 display: block;
 padding: 10px;
 text-decoration: none;
}

#sidebar a:hover {
 background-color: rgba(255, 68, 0, 0.582);
}
#sidebar ul {
 list-style-type: none;
 
}  

/* Main content area */
#main-content {
 width: 100%;
 overflow-y: auto; 
 padding: 20px;
  height: 100%; 
  
  
} */
#main-content h3{
 margin: 10px 0;
}
#main-content p{
 margin-bottom: 10px;
}
#main-content pre{
 margin-bottom: 10px;
 font-size: 15px;
}
/* Module content */
#module {
 margin-bottom: 20px;
}

/* Workspace */
#workspace {
 margin-top: 10px;
}

#editor {
 width: 100%;
 height: 300px;
 background-color: #2e2e2e;
}

/* Buttons */
button {
 padding: 10px 20px;
 margin-top: 20px;
 cursor: pointer;
 border: none;
 background-color: orangered;
 color: antiquewhite;
 font-size: 16px;
 border-radius: 5px;
}

button:hover {
 background-color: rgba(255, 68, 0, 0.493);
}

#module-controls {
 margin-top: 20px;
 display: flex;
 justify-content: space-between;
}

/* Iframe for live preview */
#preview-area {
 margin-top: 20px;
 /* border-top: 2px solid #ccc; */
 padding-top: 20px;
}

#preview-frame {
 width: 100%;
 height: 300px;
 border: 1px solid orangered;
}
